# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
*.env

# Django
db.sqlite3
/media/
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
